streamlit
python-dotenv
streamlit-aggrid
pandas
numpy
webrtcvad
av
soundfile
streamlit-webrtc
streamlit-autorefresh
openai
elevenlabs
setuptools
sqlalchemy
nltk
sounddevice
libportaudio2

